#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  font-size: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
input {
  width: 250px;
  font-size: 16px;
}

.claseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-evenly;
}
.resultado {
  margin-bottom: 20px;
  font-size: 22px;
  border-radius: 5px;
}
.resultado.correcto {
  background-color: rgb(95, 95, 204);
  color: aqua;
}
.resultado.incorrecto {
  background-color: rgb(255, 115, 0);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
