#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.mensaje-acierto {
  font-size: 1.8rem;
  color: #00c853; /* verde brillante */
  text-shadow: 1px 1px 2px #333;
  font-weight: bold;
  animation: aparecer 0.6s ease-out;
  margin-top: 10px;
  display: block;
  text-align: center;
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.resultado-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.mensaje-error {
  max-width: 300px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #d50000;
  word-wrap: break-word;
}

.imagen-error img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}